block config

doctype

html
  head
    title=pageTitle

    //- description 用 block prepend meta-tags
    meta(name="description", content=description)
    link(rel="canonical", href=fburl)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    //- favicon
    link(rel="shortcut icon", href="https://auguston.github.io/0-sample-github/contents/img/favicon.ico")

    //- chrome網址列顏色
    meta(name="theme-color", content="#2a5298")

    //- safari網址列顏色
    meta(name="apple-mobile-web-app-status-bar-style", content="#2a5298")

    //- 要額外引用的css，用block prepend 或 append link引用
    block link-tags
      link(rel="stylesheet", href="https://auguston.github.io/0-sample-github/contents/vendor/waves.min.css")
      link(rel="stylesheet", href="contents/css/main.css?v=1.3")
    
    script(defer, src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")

    = "\n"
    = "\n"
    = "\n"

    //- fb
    meta(property="fb:app_id", content="484081328635964")
    meta(property="og:url", content=fburl)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=pageTitle)
    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=description)
    meta(property="og:image", content=fbImg)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")

    meta(name="keywords", content=keywords)

    = "\n"
    = "\n"
    = "\n"

    <!--[if lte IE 9]>
    //- 檢查是否支援html5
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //- 讓 IE6 IE7 IE8 支援 HTML5 標籤
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")

    = "\n"
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <![endif]-->

    = "\n"
    = "\n"
    = "\n"

    include partials/_ga.html

    = "\n"

  body

    .container

      //- nav
      aside.navbar-wrap

        //- 手機時移到上方
        .mobile-top

          //- 大頭照
          figure.avatar
            img(src="https://auguston.github.io/0-sample-github/contents/img/avatar.jpg", alt="Auguston")
            figcaption Auguston
          
          //- ga pageviews
          .analytics
            .views
              i.fas.fa-eye
              span.js-pageviews
            a.email(href="mailto:augustus0818@gmail.com", title="augustus0818@gmail.com")
              i.fas.fa-envelope
              span augustus
          
          //- burger button
          .burger-button.js-trigger-burger.hide-desktop-up
            span
            span
            span
        
        //- nav
        nav.navbar.js-nav-wave

          .divider 原始碼
          .main-links
            a(target="_blank", href="https://github.com/auguston/imgur-api-upload-load")
              i.fab.fa-github
              span github
            a.toggle-share.hide-desktop-up.js-open-social(href="#")
              i.fas.fa-share-alt-square
              span share
          
          .divider.js-social-share 社群分享
          .social-links
            a.js-line(target="_blank", href="", title="line")
              i.fab.fa-line
            a.js-facebook(target="_blank", href="", title="facebook")
              i.fab.fa-facebook-square
            a.js-google(target="_blank", href="", title="google+")
              i.fab.fa-google-plus-square
            a.js-twitter(target="_blank", href="", title="twitter")
              .fab.fa-twitter-square
      
      //- content
      main.contents-wrap
        block main

        .fb-comments(data-href=fburl, data-numposts="5", data-colorscheme="dark")

        footer.footer-wrap
          h6.js-copyright
            span &copy;
            span.year 2018 Auguston All Rights Reserved.


    //- js
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://unpkg.com/vue/dist/vue.min.js")
    script(src="https://auguston.github.io/0-sample-github/contents/vendor/waves.min.js")
    script(src="https://auguston.github.io/0-sample-github/contents/js/main.min.js")
    block js